<html>
    <head>
        <title>Form Request</title>
    </head>
    <body>
        <div>
            <form action="/new" method="post">
                <label for="username">Username: </label>
                <input name="username" id="username" type="text" required>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>